<!DOCTYPE html>
<html>
<head>
    <title>ReadBox</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<div class="logoWrap">
    <div class="logo"></div>
</div>
<div class="contentBox container">
    <ul>
        <% for (var i = 0;i < articles.length;i++){ %>
        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/<%= articles[i]._id %>" target="_blank">
                        <%= articles[i].title %>
                    </a>
                </div>
                <div class="summaryBox"><%= articles[i].content %></div>
                <div class="memoBox"><%=articles[i].created.substring(0,10)%>采集于<%if(articles[i].site_ico&&articles[i].site_ico!=''){%><img class="siteIco" src="<%=articles[i].site_ico%>"/><%}%><%= articles[i].from_site?articles[i].from_site:"网络" %></div>
            </div>
        </li>
        <% } %>
    </ul>
</div>
</body>
</html>
